{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block body %}

    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col">
                        <h1 class="display-1 pt-5">
                            <strong style="font-weight: 600">Envi<span class="punto-spam">.</span>ar</strong>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-5">
                        <h3 class="font-weight-bold">
                            Conectamos Argentina con el <br>resto del mundo.
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col pt-5 pb-5">
                        <a href="#contacto" class="btn boton-primario">Contactenos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="primary-container">
                    <img class="primary-box" src="{{ asset('assets/images/1.png') }}">
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5 ">
            <div class="col-12 mt-2">
                <h4 class="font-weight-bold pt-3" id="servicios">
                    <strong>Servicios</strong>
                </h4>
            </div>
            <div class="col-12 mt-5">
                <h4 class="font-weight-bold">
                    <strong class="color-primario">Desde Argentina</strong>
                </h4>
            </div>
            <div class="row d-flex align-items-stretch mb-5">
                <div class="col-xl-6 col-md-12 pt-5">
                    <div class="p-5 tarjeta lead text-center">
                        Recibimos Pesos en efectivo o trasnferencia bancaria y te entregamos la divisa que necesites en el banco que necesites.
                    </div>
                </div>

                <div class="col-xl-6 col-md-12 pt-5">
                    <div class="p-5 tarjeta lead text-center">
                        Recibimos Dolares en efectivo o trasnferencia bancaria y te entregamos la divisa que necesites en el banco que necesites.
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <h4 class="font-weight-bold">
                    <strong class="color-primario">Hacia Argentina</strong>
                </h4>
            </div>
            <div class="row d-flex align-items-stretch mb-5">
                <div class="col-xl-6 col-md-12 pt-5">
                    <div class="p-5 tarjeta lead text-center">
                        Recibimos transferencias internacionales en cualquier divisa y te entregamos Pesos en efectivo o la cuenta Bancaria que necesites.
                    </div>
                </div>

                <div class="col-xl-6 col-md-12 pt-5">
                    <div class="p-5 tarjeta lead text-center">
                        Recibimos transferencias Internacionales en cualquier divisa y te entregamos Dolares en efectivo o la cuenta bancaria que necesites.
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-12 mt-5">
                <h4 class="font-weight-bold">
                    <strong>Por qué nos eligen?</strong>
                </h4>
            </div>
        </div>
        <div class="row d-flex align-items-stretch mb-5" style="margin-right: 15px">
            <div class="col-md-12 col-xl-4">
                <div class="p-4  tarjeta-2 text-center">
                    Como argentinos que migramos, entendemos la complejidad economica de nuestro pais. Por eso, desarrollamos un sistema que conecta económicamente Argentina con el mundo
                </div>
            </div>
            <div class="col-md-12 col-xl-4">
                <div class="p-4 tarjeta-2 text-center">
                    Ofrecemos un servicio personalizado para solucionar los problemas de cada cliente de manera eficiente y económica.
                </div>
            </div>
            <div class="col-md-12 col-xl-4">
                <div class="p-4 tarjeta-2 text-center">
                    Con nuestra experiencia y conocimiento del mercado, ofrecemos a nuestros clientes los mejores precios y soluciones personalizadas.
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-12 mt-2">
                <h4 class="font-weight-bold pt-3" id="sobreNosotros">
                    <strong>Sobre Nosotros</strong>
                </h4>
            </div>
            <div class="col-12 mt-5">
                <h5 class="font-weight-bold">
                    <strong>¡Bienvenidos a Envi-AR!</strong>
                </h5>
            </div>
        </div>
        <div class="row d-flex align-items-stretch mb-5">
            <div class="col-md-12 col-xl-4 pt-4">
                Somos un grupo de argentinos que migramos y entendemos la importancia de poder conectarse financieramente con nuestro hogar.
                Por eso creamos una plataforma que simplifica y hace más accesibles las transacciones monetarias entre Argentina y el resto del mundo.<br><br>
                Nuestro equipo está conformado por expertos en finanzas y tecnología, comprometidos en brindar el mejor servicio y experiencia a nuestros clientes.
                Nos enfocamos en ofrecer un servicio personalizado y asequible a todos nuestros clientes, independientemente de su ubicación o necesidades.
            </div>
            <div class="col-md-12 col-xl-4 p-4">
                En Envi-AR ofrecemos una amplia gama de servicios financieros para satisfacer las necesidades de nuestros clientes.
                Podemos ayudarte a enviar y recibir dinero en efectivo y transferencias bancarias, ya sea que necesites pesos , dólares, euros u otras monedas extranjeras.<br><br>
                Gracias por confiar en nosotros para conectar financieramente Argentina con el mundo. Estamos comprometidos en proporcionarte la mejor experiencia posible, para que puedas enviar y recibir dinero sin fronteras.
            </div>
            <div class="col-md-12 col-xl-4">
                <div class="primary-container primary-container-small w-75">
                    <img class="primary-box" src="{{ asset('assets/images/2.png') }}">
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5 ">
            <div class="col-12 mt-2">
                <h4 class="font-weight-bold pt-4" id="faq">
                    <strong>Preguntas Frecuentes</strong>
                </h4>
            </div>
            <div class="col-12 mt-5 col-12 mt-5 p-4 faq-box">
                <div>
                    <ul>
                        <li>
                            <strong>
                                ¿En qué países operan?
                            </strong>
                        </li>
                        <span>
                            Operamos en todo el mundo, lo que significa que puedes utilizar nuestros servicios para enviar y recibir dinero desde y hacia cualquier lugar del mundo. Nuestras oficinas centrales se encuentran en España.
                        </span>
                        <li class="mt-3">
                            <strong>
                                ¿Cuáles son los montos mínimos y máximos?
                            </strong>
                        </li>
                        <span>
                            No imponemos montos máximos para tus transacciones, aunque los montos mínimos son de US$50 o €50.
                        </span>
                        <li class="mt-3">
                            <strong>
                                ¿Cuáles son las formas de pago aceptadas?
                            </strong>
                        </li>
                        <span>
                            Aceptamos diversas formas de pago, incluyendo transferencias bancarias y efectivo. La disponibilidad de las formas de pago puede variar según la localización del cliente y el tipo de transacción.
                        </span>
                        <li class="mt-3">
                            <strong>
                                ¿Puedo cancelar o modificar una transferencia ya realizada?
                            </strong>
                        </li>
                        <span>
                            Si la transferencia no ha sido completada, es posible cancelarla contactando con nuestro servicio de atención al cliente. Sin embargo, si la transferencia ya se completó, no es posible cancelarla o modificarla. Por lo tanto, te recomendamos verificar cuidadosamente los detalles de la transacción antes de confirmarla.
                        </span>
                        <li class="mt-3">
                            <strong>
                                ¿Cómo puedo contactar al servicio de atención al cliente de Enví-AR?
                            </strong>
                        </li>
                        <span>
                            Puedes contactarnos por correo electrónico o por WhatsApp. Te responderemos lo antes posible para resolver cualquier pregunta o problema que puedas tener. Nuestra dirección de correo electrónico es <strong>hello@envi-ar.tech</strong> y nuestro número de WhatsApp es <strong>+34 632 55 59 51</strong>.
                        </span>
                        <li class="mt-3">
                            <strong>
                                ¿Cuáles son los costos del servicio?
                            </strong>
                        </li>
                        <span>
                            Nuestros honorarios son altamente competitivos y varían según el tipo de transacción. Por lo general, nuestros costos rondan entre el 4% y el 8%. Sin embargo, siempre trabajamos para ofrecer a nuestros clientes soluciones personalizadas y rentables que se ajusten a sus necesidades financieras específicas.
                        </span>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5 ">
            <div class="col-12 mt-5 mb-2">
                <h4 class="font-weight-bold pt-3" id="contacto">
                    <strong>Contacto</strong>
                </h4>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="row">
                    <div class="col-md-1 p-1">
                        <img src="{{ asset('assets/images/logos/logo.png') }}" alt="" width="35">
                    </div>
                    <div class="col-md-6">
                        <div class="h1" style="font-weight: 600">
                            Envi.ar
                        </div>
                    </div>
                    <div class="col-md-5 text-end">
                         <div class="small" style="line-height: 16px;">
                             Av. de Francesc Cambó, 21  2º,<br>
                             08003, Barcelona<br>
                             +34 632 55 59 51<br>
                             hello@envi-ar.tech
                         </div>
                    </div>
                </div>
                <div class="row mt-5 mb-5">
                    <form class="form">
                        <input class="form-control mb-2 form-item" type="text" name="name" id="name" placeholder="Nombre">
                        <input class="form-control mb-2 form-item" type="text" name="email" id="email" placeholder="Email">
                        <textarea class="form-control mb-2 form-item" rows="5" placeholder="consulta" name="consulta" id="consulta"></textarea>
                    </form>
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <img class="img-fluid" src="{{ asset('assets/images/mapa.png') }}">
            </div>
        </div>
    </div>
{% endblock %}